div  {
height:550px;
width:100%;
background-color:black;

display:block;
border:0px solid black;
}
p  { 
font-size:12px;
font-family:serif;
color:white;
background-color:black;
}



 
img { 
width:70%;
height:70%;

margin:auto;
position:center;
border-radius:5px;
}